=  simple_form_for(@provider, html: { class: 'form-horizontal' }) do |f|
  = f.input :name, label: 'Nombre'
  = f.input :telephone, label: 'Teléfono'
  = f.input :street, label: 'Calle'
  = f.input :number, label: 'Número de edificio'
  = f.input :neighborhood, label: 'Colonia'
  = f.input :city, label: 'Ciudad'
  = f.input :zipcode, label: 'Código Postal'
  = f.input :email, label: 'e-mail'
  = f.submit 'Crear', class: 'btn btn-primary'
  = link_to 'Cancelar', providers_path, class: 'btn btn-default'
