=  simple_form_for(@provider, html: { class: 'form-horizontal' }) do |f|
  = f.input :name, label: 'Nombre'
  = f.input :address, label: 'Direccion'
  = f.input :telephone, label: 'Telefono'
  = f.input :email, label: 'Email'
  = f.submit 'Crear', class: 'btn btn-primary'
