.page-header
  %h1 Proveedores
#search

%hr

%ul.list-group#providers
  = render @providers
#paginate
  = paginate @providers,theme: 'twitter-bootstrap-3',remote: true
%br

= link_to 'Nuevo proveedor', new_provider_path, class: 'btn btn-primary'

= javascript_tag "ReactDOM.render( React.createElement(SearchInput,{url: '#{providers_path}',queryParam: 'search'}),document.getElementById('search'));"
