.page-header
  %h1
    = @provider.name
    = link_to 'Administrar', edit_provider_path(@provider), class: 'btn btn-primary btn-sm'
  .row
    .col-md-4
      %h3.text-center
        %small= @provider.address
    .col-md-4
      %h3.text-center
        %small= "Tel: " + @provider.telephone
    .col-md-4
      %h3.text-center
        %small= "Email: " + @provider.email

.row
  - expenses = @provider.expenses
  - paid = @provider.paid
  .col-md-4
    .panel.panel-warning
      .panel-heading
        Se le a comprado
      .panel-body
        = number_to_currency expenses
  .col-md-4
    .panel.panel-success
      .panel-heading
        Se le ha pagado
      .panel-body
        = number_to_currency paid
  .col-md-4
    .panel.panel-danger
      .panel-heading
        Se le debe
      .panel-body
        = number_to_currency expenses - paid

-#ajax this methods call proper controllers
%ul.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", :href => "#purchase_orders"} Ordenes decompra
  %li
    %a{"data-toggle" => "tab", :href => "#paymets"} Gastos
  -#payments for that provider
.tab-content
  #purchase_orders.tab-pane.fade.active.in
    = render partial: 'providers/purchase_order',collection: @provider.purchase_orders
  #paymets.tab-pane.fade
    .panel.panel-default
      %table.table
        %thead
          %tr
            %th
              Factura
            %th
              Orden de compra
            %th
              Importe
            %th
              Pagado
            %th
              Saldo
            %th
              Pagos
            %th
        %tbody
          = render partial: 'home/payment', collection: @provider.payments
