
.jumbotron
  %h2
    = @provider.name
    -#%small= @user.role
  -#use icon for better ui experience
  %p
    %b Address:
    = @provider.address
  %p
    %b Phone:
    = @provider.telephone
  %p
    %b Email:
    = @provider.email

  = link_to 'Edit', edit_provider_path(@provider),class: 'btn btn-warning'

  = link_to 'Regresar', providers_path, class: 'btn btn-default'

-#ajax this methods call proper controllers
%ul.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", :href => "#purchase_orders"} Ordenes decompra
  %li
    %a{"data-toggle" => "tab", :href => "#paymets"} Gastos
  -#payments for that provider
.tab-content
  #purchase_orders.tab-pane.fade.active.in
    = render partial: 'providers/purchase_order',collection: @provider.purchase_orders
  #paymets.tab-pane.fade
    .panel.panel-default
      %table.table
        %thead
          %tr
            %th
              Factura
            %th
              Orden de compra
            %th
              Importe
            %th
              Pagado
            %th
              Saldo
            %th
              Pagos
            %th
        %tbody
          = render partial: 'home/payment', collection: @provider.payments
