.page-header
  %h1
    = @provider.natural_name
    = link_to edit_provider_path(@provider), class: 'btn btn-primary btn-sm' do
      %i{class: 'fa fa-pencil'}
      Editar
  %div
    %h5
      = @provider.name
      - if !@missing_attributes.empty?
        %i.fa.fa-warning
        Hay datos faltantes para este proveedor
  .row
    -# this needs better formatting
    .col-md-4
      %h5.text-center Domicilio
      %p.text-center
        %address
          = @provider.street unless @provider.street.blank?
          = @provider.neighborhood unless @provider.neighborhood.blank?
          = "##{@provider.number}" unless @provider.number.blank?
          = @provider.city unless @provider.city.blank?
          = "cp #{@provider.zipcode}" unless @provider.zipcode.blank?
    .col-md-4
      %h5.text-center Teléfono
      %p{class: 'phone'}= link_to @provider.telephone, "tel:#{@provider.telephone}" unless @provider.telephone.blank?
    .col-md-4
      %h5.text-center Correo
      %p{class: 'mail'}= mail_to @provider.email unless @provider.email.blank?

.row
  - expenses = @provider.expenses
  - paid = @provider.paid
  .col-md-4
    .panel.panel-warning
      .panel-heading
        Se le ha comprado
      .panel-body
        = number_to_currency expenses
  .col-md-4
    .panel.panel-success
      .panel-heading
        Se le ha pagado
      .panel-body
        = number_to_currency paid
  .col-md-4
    .panel.panel-danger
      .panel-heading
        Se le debe
      .panel-body
        = number_to_currency expenses - paid

-#ajax this methods call proper controllers
.row
  .col-md-12
    %ul.nav.nav-tabs
      %li.active= link_to 'Ordenes de compra', '#purchase_orders', data: {toggle: :tab}
      %li= link_to 'Gastos', '#payments', data: {toggle: :tab}
      -#payments for that provider
    .tab-content
      #purchase_orders.tab-pane.fade.active.in
        = render @provider.purchase_orders
      #payments.tab-pane.fade
        .panel.panel-default
          %table.table
            %thead
              %tr
                %th Factura
                %th Orden de compra
                %th Importe
                %th Pagado
                %th Saldo
                %th Pagos
                %th
            %tbody
              = render partial: 'payments/payment', collection: @provider.payments
#invoices
