=  simple_form_for(@office, html: { class: 'form-horizontal' }) do |f|
  -#local variable if the @construction is in editing form
  - if edit
    %h3 Estado de oficina
    = f.input :status,collection: Construction::STATUS_OPTIONS
    %hr

  .row
    .col-md-6
      = f.input :start_date, label: 'Fecha de inicio'
    .col-md-6
      = f.input :finish_date, label: 'Fecha de finalización'
  = f.button :submit, value: 'Crear', class: 'btn btn-primary'