.page-header
  %ol.breadcrumb
    %li= link_to @construction.title, current_user.administrator? ? construction_path(@construction) : constructions_path(mode: params[:mode])
    %li.active Estimaciones
  %h1
    %small
      .pull-right
        = link_to 'Nueva estimacion', new_estimate_path(construction_id: @construction.id), {class: "btn btn-primary", type: "button"}
      Extensiones
      %small
        %p
          = "Montos cobrados: #{number_to_currency(@estimates.completed.sum :amount)}"
          = "Montos pendientes: #{number_to_currency(@estimates.pending.sum :amount)}"


.panel.panel-default
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th #
          %th Cantidad
          %th Concepto
          %th Fecha de estimacion
          %th Fecha de autorizacion
          %th
      %tbody
        = render partial: 'estimate', collection: @estimates

#mod