.col-xs-12.col-md-4
  %div{class: "panel panel-#{purchase_order.get_color}"}
    %div{class: 'panel-heading'}
      %h3{class: 'panel-title'}
        = link_to purchase_order.formated_folio, purchase_order, class: ""
        / # %i{class: "fa fa-circle #{purchase_order.get_color2}"}
        = are_you_signed_clack_or_not(purchase_order.stamp.present?)
    %div{class: 'panel-body'}
      %p
        Estado:
        = purchase_order.completed? ? "Enviada a proveedor" : "Pendiente"
      %p 
        Motivos:
        = item_materials_status_message purchase_order.item_materials_status_count
      = link_to document_purchase_order_path(purchase_order), class: 'btn btn-danger pull-right',target: '_blank' do
        %i{class: 'fa fa-file-pdf-o'}
        PDF
      = link_to purchase_order, class: 'btn btn-default pull-right' do
        %i{class: 'fa fa-eye'}
        Ver
