$('#purchase_orders').html("#{j( render partial: 'purchase_order', collection: @purchase_orders )}");
$('#purchase_orders').append("#{j( paginate @purchase_orders,theme: 'twitter-bootstrap-3',remote: true)}");
- if @purchase_orders.empty?
  $('#purchase_orders').append("<div class='well'> No hay ordenes de compra</div>")

$('#complete').attr('class', "#{'active' if @type_list ==  'complete'}");
$('#pending').attr('class', "#{'active' if @type_list ==  'pending'}");
$('#stamped').attr('class', "#{'active' if @type_list ==  'stamped'}");
$('#all').attr('class', "#{'active' if @type_list ==  'all'}");

