.page-header
  %h1
    = link_to [@requisition.requisition_date.year, @requisition.folio.to_s.rjust(4, '0')].join(' - '), requisition_path(@requisition)
    %small
      Orden 
      %span{class:"label label-#{@purchase_order.get_color}"}
        = @purchase_order.folio.to_s.rjust(4, '0')



%p
  %h2= link_to @purchase_order.provider.name,provider_path(@purchase_order.provider)
= render :partial => 'purchase_order_format',locals: {purchase_order: @purchase_order}

%h1
  %small
    Factura

- if @invoice.waiting?
  %h3.text-center
    %small
      Esta factura no a sido recibida
    %br
    %small
      = link_to "Editar factura", edit_invoice_path(@invoice)
- else
  -#first idea suggestions?: llamas
  = render partial: 'invoices/invoice',locals: {invoice: @invoice}
