.page-header
  %ol.breadcrumb
    %li= link_to @requisition.construction.title, construction_path(@requisition.construction)
    %li= link_to "Requisiciones", requisitions_path(construction_id: @requisition.construction.id)
    %li= link_to @requisition.formated_folio, requisition_path(@requisition)
    %li Orden de Compra
  %h1
    %small
      Orden de Compra 
      %span{class: "label label-#{@purchase_order.get_color}"}
        = @purchase_order.formated_folio
    = link_to image_tag('pdf-icon.png',class: 'pdf-icon'),document_purchase_order_path(@requisition)
  .row
    .col-md-4
      %h3.text-center
        %small
          %b
            Proveedor
        %br
        %small
          = @purchase_order.provider.name
    .col-md-4
      %h3.text-center
        %small
          %b
            Fecha de emición
        %br
        %small
          = spanish_formated_date @purchase_order.created_at, false
    .col-md-4
      - if @invoice.waiting?
        %h3.text-center
          %small
            Esta factura no ha sido recibida
          %br
          %small
            = link_to "Editar factura", edit_invoice_path(@invoice)
      - else
        -# Second idea just pass the link to anctions, this view keeps purchase order stuff
        %h3.text-center
          %small
            %b
              Factura
          %br
          %small
            = link_to @invoice.folio, document_invoice_path(@invoice), {class: "button btn-sm btn-info", type: "button"}
            = link_to "Administrar", edit_invoice_path(@invoice)

.panel.panel-default
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th
            Cantidad
          %th
            Unidad
          %th
            Material
          %th
            Precio unitario
      %tbody
        = render partial: 'item_material', collection: @item_materials