%h1= link_to @purchase_order.construction.title, construction_path(@construction)
%h2= link_to ["Requisicion ", @requisition.folio].join, requisition_path(@requisition)
%h2= ["Orden de compra  ", @purchase_order.folio].join

= form_for @purchase_order, url: {action: "update"} do |form|
  = form.label "Proveedor"
  = select_tag "purchase_order[provider_id]", options_from_collection_for_select(@providers, "id", "name", @purchase_order.provider.nil? ? nil : @purchase_order.provider.id), include_blank: true
  = form.label "Lugar de entrega"
  = form.text_field :delivery_place
  = form.label "Direccion de entrega"
  = form.text_field :delivery_address
  = form.label "Nombre de quin recive"
  = form.text_field :delivery_receiver
  %br
  = form.submit "Actualizar orden de compra"


%h2 Materiales enlistados
= form_for @purchase_order, url: purchase_order_update_item_materials_path(@purchase_order) do |form|
  %table
    %tr
      %th Nombre
      %th Cantidad encargada
      %th Cantidad entregada
      %th Precio Unitario
      %th Estado
      %th Importe
      %th Remover
      = form.fields_for :item_materials do |form_item|
        %tr
          %td
            = form_item.object.material.name
            = form_item.hidden_field :id
          %td= [form_item.object.requested, form_item.object.material.measure_unit].join(" ")
          %td
            = form_item.text_field :recived
            = form_item.object.material.measure_unit
          %td= form_item.text_field :unit_price
          %td= form_item.object.status
          %td= form_item.object.unit_price.to_f * form_item.object.requested.to_f
          %td= form_item.check_box :_destroy
  = form.submit "Actualizar precios y cantidades"

= button_to "Generar factura y enlistar como gasto", purchase_order_generate_invoice_expense_path(@purchase_order)
