%h1= link_to @purchase_order.construction.title, construction_path(@construction)
%h2= link_to ["Requisicion ", @requisition.folio].join, requisition_path(@requisition)

%h2 Materiales enlistados

= form_for @purchase_order, url: purchase_order_update_item_materials_path(@purchase_order) do |form|
  %table
    %tr
      %th Nombre
      %th Cantidad
      %th Precio Unitario
      %th Estado
      %th Importe
      %th Remover
      = form.fields_for :item_materials do |form_item|
        %tr
          %td
            = form_item.object.material.name
            = form_item.hidden_field :id
          %td= [form_item.object.requested, form_item.object.material.measure_unit].join(" ")
          %td= form_item.text_field :unit_price
          %td= form_item.object.status
          %td= form_item.object.unit_price.to_f * form_item.object.requested.to_f
          %td= form_item.check_box :_destroy
  = form.submit "Actualizar precios y cantidades"
