/ Soon to be refactored
.page-header
  %ol.breadcrumb
    %li= link_to @requisition.construction.title, construction_path(@requisition.construction)
    %li= link_to "Requisiciones", requisitions_path(construction_id: @requisition.construction.id)
    %li= link_to @requisition.formated_folio, requisition_path(@requisition)
    %li Orden de Compra
  %h1
    %small
      Orden de Compra
      %span{class: "label label-#{@purchase_order.get_color}"}
        = @purchase_order.formated_folio
    = link_to image_tag('pdf-icon.png', class: 'pdf-icon'), document_purchase_order_path(@purchase_order)
  %div
    - if @purchase_order.is_stamped?
      Esta orden de compra ya fue firmada por:
      = @puchase_order.authorizer.name
      / maybe an icon with a tooltip for the leyend, name and date ??
    - else
      = link_to "Firmar", stamp_purchase_order_path(@purchase_order), class: 'btn', method: :post
      / new stamp route idea in progress, not working yet, don't bitch about it
  .row
    .col-md-4
      %h6.text-center
        Proveedor:
        = @purchase_order.provider.name
    .col-md-4
      %h6.text-center
        Emitida el 
        = spanish_formated_date(@purchase_order.created_at, false)
    .col-md-4
      - if @invoice.waiting?
        %h6.text-center
          Esta factura no ha sido recibida
          %br
          = link_to "Editar factura", edit_invoice_path(@invoice), class: 'btn'
      - else
        / Second idea just pass the link to actions, this view keeps purchase order stuff
        %h3.text-center
          %small
            %b
              Factura
          %br
          %small
            = link_to image_tag('pdf-icon.png', class: 'pdf-icon'), document_invoice_path(@invoice)
            = link_to "Administrar", edit_invoice_path(@invoice)

.panel.panel-default
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th
            Pedido
          %th
            Material
          %th
            Estado del material
          %th
            Precio unitario
      %tbody
        = render partial: 'item_material', collection: @item_materials
