%h1 Listing mesure_units

%table.table
  %thead
    %tr
      %th Unit
      %th Abbreviation
      %th
      %th
      %th

  %tbody
    - @mesure_units.each do |mesure_unit|
      %tr
        %td= mesure_unit.unit
        %td= mesure_unit.abbreviation
        %td= link_to 'Show', mesure_unit
        %td= link_to 'Edit', edit_mesure_unit_path(mesure_unit)
        %td= link_to 'Destroy', mesure_unit, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Mesure unit', new_mesure_unit_path
