%p#notice= notice

%p
  %b Unit:
  = @mesure_unit.unit
%p
  %b Abbreviation:
  = @mesure_unit.abbreviation

= link_to 'Edit', edit_mesure_unit_path(@mesure_unit)
\|
= link_to 'Back', mesure_units_path
