=  simple_form_for(@invoice, html: { class: 'form-horizontal' }) do |f|
  = f.input :folio, label: 'Folio en factura'
  = f.input :amount, label: 'Cantidad en factura'
  = f.input :invoice_date, label: 'Fecha en factura'
  = f.button :submit, value: 'Actualizar', class: 'btn btn-primary'
