-#first idea could be better need suggestions : Llamas
.panel.panel-primary
  .panel-heading
    Madereria y Construcciones Allpino Sa de Cv
    .pull-right
      Folio:
      = invoice.folio
  .panel-body
    %p
      %b Direccion
      AGUSTIN YAÑEZ 141-1 PB FRACC. VILLAS DE LA UNIVERSIDAD AGUASCALIENTES, AGS. MEXICO

    %p
      %b Telefono
      01 (449) 914 9388  
      %span.pull-right
        %b  E-mail:
        allpino_cotizaciones@yahoo.com
    %p
      %b R.F.C.
      MCA-990225-MJ0
    %h3
      %p
        %b Recibimos de:
        = invoice.provider.name
        %span.pull-right
          Fecha:
          = invoice.invoice_date
    %table.table.table-hover
      %thead
        %tr
          %th
            Cantidad
          %th
            Concepto
          %th
            Status  de entrega
      %tbody
        -#create proper item_material partial for displaying in invoice
        = render partial: 'purchase_orders/item_material', collection: @invoice.purchase_order.item_materials
  .panel-footer
    ,
    .pull-right
      %b Total:
      = number_to_currency invoice.amount
