%h1= link_to "Contra recibo #" + @invoice.invoice_receipt.folio.to_s, invoice_receipt_path(@invoice.invoice_receipt)

%h2= "Factura con folio " + @invoice.folio

%h3 Ordenes de compra asociadas
%table
  %tr
    %th Orden de compra
    %th Obra
    %th Requisition
    %th
  - @purchase_orders.each do |purchase_order|
    %tr
      %td= link_to purchase_order.folio, purchase_order_path(purchase_order)
      %td= link_to purchase_order.construction.title, construction_path(purchase_order.construction)
      %td= link_to purchase_order.requisition.folio, requisition_path(purchase_order.requisition)
      %td= button_to "Remover", invoice_remove_purchase_order_path(@invoice, purchase_order_id: purchase_order.id)

%h3 Asociar ordenes de este proveedor
%table
  %tr
    %th Orden de compra
    %th Obra
    %th Requisition
    %th
  - @available_purchase_orders.each do |purchase_order|
    %tr
      %td= link_to purchase_order.folio, purchase_order_path(purchase_order)
      %td= link_to purchase_order.construction.title, construction_path(purchase_order.construction)
      %td= link_to purchase_order.requisition.folio, requisition_path(purchase_order.requisition)
      %td= button_to "Agreagr", invoice_add_purchase_order_path(@invoice, purchase_order_id: purchase_order.id)