= simple_form_for(@extension) do |f|
  = f.error_notification

  .form-inputs
    = f.input :date,label: 'Fecha de extension',:as => :date_picker,id: 'datetimepicker'
    = f.input :construction_id,as: :hidden, input_html: { value: params[:construction_id] }
    = f.input :amount,label: 'Cantidad'
    -#= f.label 'Amount'
    -#$ #{f.input_field :amount}

  .form-actions
    = f.button :submit,class: 'btn btn-primary'
    = link_to 'Cancelar', extensions_path(construction_id: params[:construction_id]),class: 'btn btn-default'

