= simple_form_for(@extension) do |f|
  = f.error_notification

  .form-inputs
    = f.input :date
    = f.input :construction_id,as: :hidden, input_html: { value: params[:construction_id] }
    = f.input :amount

  .form-actions
    = f.button :submit
