.page-header
  %ol.breadcrumb
    %li= link_to @construction.title, current_user.administrator? ? construction_path(@construction) : constructions_path(mode: params[:mode])
    %li.active Ampliaciones
  %h1
    %small
      .pull-right
        = link_to 'Nueva ampliaciones', new_extension_path(construction_id: @construction.id), {class: "btn btn-primary", type: "button"}
      Ampliaciones
.table-responsive
  %table.table.table-striped.table-condensed.table-hover
    %thead
      %tr
        %th Fecha
        %th Cantidad
        %th

    %tbody
      - @extensions.each do |extension|
        %tr
          %td= extension.date
          %td=number_to_currency extension.amount
          %td
            .btn-group
              = link_to 'Editar', edit_extension_path(extension,construction_id: extension.construction_id),class: 'btn btn-warning'
              = link_to 'Eliminar', extension, :method => :delete, :data => { :confirm => t('extension.delete_warning') },class: 'btn btn-danger'
-if @construction.extensions.empty?
  .well
    No se han introducido ampliaciones




