%p
  %b Date:
  = @extension.date
%p
  %b Construction:
  = @extension.construction
%p
  %b Amount:
  = @extension.amount

= link_to 'Editar', edit_extension_path(@extension)
\|
= link_to 'Regresar', extensions_path
