=  simple_form_for(@user, html: { class: 'form-horizontal' }) do |f|
  = f.input :name
  = f.input :email
  = f.input :phone
  = f.input :password
  = f.input :password_confirmation
  = f.input :role, as: :fake_select, collection: User::ROLES_SELECT
  = f.button :submit,class: 'btn btn-primary'
  = link_to 'Cancelar',users_path,class: 'btn btn-default'
