%h1 Listing users


= simple_form_for :search,url: users_path(role: 'administrator'),method: :get do |f|

  = f.input :role,as: :hidden ,id: 'role_input',input_html: { value: @user_list}
  .col-lg-6
    = f.search_field :query,autofocus: true,class: 'form-control'
  = f.button :submit
%br

%ul.nav.nav-tabs
  %li{id: 'subordinates',class: " #{'active' if params[:role] == 'subordinates'  or params[:role].nil? }"}
    = link_to 'Subordinados',users_path(role: 'subordinates'),remote: true
  %li{id: 'administrators',class: " #{'active' if params[:role] == 'administrator'}"}
    = link_to 'Administradores',users_path(role: 'administrator'),remote: true

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th Name
      %th Phone
      %th Email
      %th Role
      %th
  %tbody#users
    = render partial: 'user', collection: @users
#paginate
  = paginate @users


%br

= link_to 'New User', new_user_path, class: 'btn btn-primary'
