%h1 Listing users

%ul.nav.nav-tabs
  %li{class: " #{'active' if params[:role] == 'resident'  or params[:role].nil? }" }
    = link_to 'Residents',users_path(role: 'resident')
  %li{class: " #{'active' if params[:role] == 'administrator'}"}
    = link_to 'Administrators',users_path(role: 'administrator')

%table.table
  %thead
    %tr
      %th Name
      %th Phone
      %th Email
      %th Role
      %th
      %th
      %th
  %tbody#users
    = render partial: 'user', collection: @users

%br

= link_to 'New User', new_user_path
