.col-xs-12
  .row
    %h4
      = @user.name
      -##refactor for showing spanish role
      %span.text-muted
        = @user.role_list.join(", ")
    %p
      = [@user.phone, @user.email].join(", ") # un decorador para el telefono

    = link_to 'Cambiar contraseña', edit_password_users_path, class: 'btn btn-warning' if current_user == @user
    = link_to 'Editar', edit_user_path(@user), class: 'btn btn-info'
    = link_to "#{@user.access_locked? ? 'Desbloquear' : 'Bloquear'}", update_lock_user_path(@user), class: 'btn btn-info',method: :post if current_user.administrator?


  - unless current_user.secretary?
    .row
      %h5
        ="Obras que administro #{@user.name}"

    .row
      .list-group#constructions
        - if @user.construction_administrations.empty?
          .well
            No ha administrado obras
        - else
          = render partial: 'constructions/construction', collection: @user.construction_administrations

      %h5 Obras que ha apoyado
      .list-group#constructions
        - if @user.constructions.empty?
          .well
            No ha apoyado obras
        - else
          = render partial: 'constructions/construction', collection: @user.constructions
