%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Phone:
  = @user.phone
%p
  %b Email:
  = @user.email
%p
  %b Role:
  = @user.role

= link_to 'Change password',edit_password_users_path if current_user == @user
\|
= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
