%p#notice= notice
.jumbotron
  %h1
    = @user.name
    %small= @user.role
  %p
    %b Phone:
    = @user.phone
  %p
    %b Email:
    = @user.email

  = link_to 'Change password',edit_password_users_path,class: 'btn btn-warning' if current_user == @user

  = link_to 'Edit', edit_user_path(@user),class: 'btn btn-warning'

  = link_to 'Back', users_path,class: 'btn btn-default'


%h1=" Obras de #{@user.name}"

.list-group#constructions
  = render partial: 'constructions/construction', collection: @user.constructions

