.page-header
  .row
    .col-xs-12.col-md-6
      %h4 Administración
    .col-xs-12.col-md-6
      %h6.pull-right
        = ["Hoy es", spanish_formated_date(Date.today, false)].join(" ")

= render partial: 'constructions/balance', locals: {expenses: @balance[:expenses], paid: @balance[:paid]}
/ %hr

.row
  .col-md-12
    %h4 Facturas
    = render partial: 'payments/pagination'
    = render partial: 'constructions/payment_tabs'
    .table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th
              Estado
            %th
              Fecha
            %th
              Folio
            %th
              Folio Provedor
            %th
              Orden de compra
            %th
              Requisicion
            %th
              Importe
            -#%th
              Pagado
            -#%th
              Saldo
            %th
              Pagos
        %tbody#payments
          = render @payments
#mod
#billing
