.page-header
  .row
    .col-md-6
      .row
        %h6
          = 'Bienvenido'
          = link_to current_user.name, user_path(current_user)
    .col-md-6
      .row
        %h6.pull-right
          = ["Hoy es", spanish_formated_date(Date.today, false)].join(" ")

= render partial: 'constructions/balance', locals: {expenses: @balance[:expenses], paid: @balance[:paid]}
%hr
%h4 Facturas
= render partial: 'constructions/payment_tabs'
.panel.panel-default
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th
            Factura
          %th
            Orden de compra
          %th
            Importe
          %th
            Pagado
          %th
            Saldo
          %th
            Pagos
          %th
      %tbody#payments
        - @acumulated_amount, @acumulated_paid = 0 # por que está esto aquí?
        = render partial: 'payment', collection: @payments
