.page-header
  .row
    .col-xs-12
      .row
        %h6.pull-right
          = ["Hoy es", spanish_formated_date(Date.today, false)].join(" ")

= render partial: 'constructions/balance', locals: {expenses: @balance[:expenses], paid: @balance[:paid]}
%hr
=render partial: 'payments/pagination'
.col-md-12
  %h4 Facturas
  = render partial: 'constructions/payment_tabs'
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th
            Fecha
          %th
            Folio
          %th
            Folio Provedor
          %th
            Orden de compra
          %th
            Requisicion
          %th
            Importe
          %th
            Pagado
          %th
            Saldo
          %th
            Pagos
      %tbody#payments
        = render partial: 'payments/payment', collection: @payments
=render partial: 'payments/pagination'
.col-md-4
  .panel.panel-default
    .panel-heading= t 'public_activity.recent'
    .panel-body
      .panel_default_body
        = render_activities(@activities)

#mod
#billing
