.page-header
  .row
    .col-md-6.col-xs-12
      .row
        %h5
          = 'Hola'
          = link_to current_user.name, user_path(current_user)
    .col-md-6.col-xs-12
      .row
        %h6.pull-right
          = ["Hoy es", spanish_formated_date(Date.today, false)].join(" ")

%h4 Ordenes de compra
%ul.nav.nav-tabs
  %li{id: 'all', class: " #{'active' if params[:type_list] == 'all' or params[:type_list].nil? }"}
    = link_to 'Todas', purchase_orders_path(type_list: 'all', construction_id: params[:construction_id]), remote: true
  %li{id: 'pending', class: " #{'active' if params[:type_list] == 'pending' }"}
    = link_to 'Pendientes', purchase_orders_path(type_list: 'pending', construction_id: params[:construction_id]), remote: true
  %li{id: 'complete', class: " #{'active' if params[:type_list] == 'complete' }"}
    = link_to 'Enviadas', purchase_orders_path(type_list: 'complete', construction_id: params[:construction_id]), remote: true
  %li{id: 'stamped', class: " #{'active' if params[:type_list] == 'stamped' }"}
    = link_to 'Autorizadas', purchase_orders_path(type_list: 'stamped', construction_id: params[:construction_id]), remote: true

.list-group#purchase_orders
  = render partial: 'purchase_orders/purchase_order', collection: @purchase_orders
  = paginate @purchase_orders, theme: 'twitter-bootstrap-3', remote: true
  - if @purchase_orders.empty?
    .well
      No hay ordenes de compra


%h4 Facturas
= render partial: 'constructions/payment_tabs'
.panel.panel-default
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th
            Factura
          %th
            Orden de compra
          %th
            Importe
          %th
            Pagado
          %th
            Saldo
          %th
            Pagos
          %th
      %tbody#payments
        - @acumulated_amount, @acumulated_paid = 0 # por que está esto aquí?
        = render partial: 'payment', collection: @payments
#billing
