.row
  .col-md-6
    %h4
      = [current_user.construction_administrations.count, 'obras administradas'].join(" ")
      = link_to "(ver todas)", constructions_path(mode: :own), {class: ""}
  .col-md-6
    %h4
      = [current_user.constructions.count, 'obras apoyadas'].join(" ")
      = link_to "(ver todas)", constructions_path(mode: :sub), {class: ""}
.row
  .col-md-12
    %h4 Requisiciones
    %ul.nav.nav-tabs
      %li{id: 'all', class: "#{'active' if params[:type_list] == 'all' or params[:type_list].nil? }"}
        = link_to 'Todos', requisitions_path(type_list: 'all', construction_id: @constructions.ids, mode: params[:mode]), remote: true
      %li{id: 'pending', class: " #{'active' if params[:type_list] == 'pending' }"}
        = link_to 'Pendientes', requisitions_path(type_list: 'pending', construction_id: @constructions.ids, mode: params[:mode]), remote: true
      %li{id: 'partially', class: " #{'active' if params[:type_list] == 'partially'}"}
        = link_to 'Parcialmente', requisitions_path(type_list: 'partially', construction_id: @constructions.ids, mode: params[:mode]), remote: true
      %li{id: 'complete', class: " #{'active' if params[:type_list] == 'complete'}"}
        = link_to 'Completas', requisitions_path(type_list: 'complete', construction_id: @constructions.ids,  mode: params[:mode]), remote: true
.row#requisitions
  - if @requisitions.present?
    = render @requisitions
  - else
    .well
      No hay requisiciones
