.page-header
  %ol.breadcrumb
    %li= link_to @construction.title, current_user.administrator? ? construction_path(@construction) : constructions_path(mode: 'own')
    %li.active Cajas chicas
  %h1
    %small
      Cajas Chicas
      -#.pull-right
        = link_to 'Nueva requisicion', new_requisition_path(construction_id: @construction.id), {class: "btn btn-primary", type: "button"}


%table.table
  %thead
    %tr
      %th Dia de inicio
      %th Dia de cierre
      %th Cantidad
      %th Numero de gastos
      %th

  %tbody
    - @petty_cashes.each_with_index do |petty_cash,index|
      %tr{class: "#{"success"if index == 0}"}
        %td= spanish_formated_date petty_cash.created_at,false
        - if petty_cash.closing_date
          %td= spanish_formated_date petty_cash.closing_date,false
        - else
          %td Activa
        %td= petty_cash.amount
        %td= petty_cash.petty_cash_expenses.count
        %td= link_to 'Ver', petty_cash,class: 'btn btn-primary'

%br
