%a.list-group-item.construction-special-row{:href => "#{requisition_path(requisition)}"}
  .row
    .col-md-12
      %h4.pull-right
        %small
          = requisition.locked? ? 'Procesada' : 'Pendiente'
      %table
        %tr
          %td
            %h4
              %span{class: "label label-#{requisition.status_color}"}
                = [requisition.requisition_date.year, requisition.folio.to_s.rjust(4, '0')].join(' - ')
          %td
            %h4
              %small
                = [requisition.item_materials.count, " materiales agregados"].join(' ')
