.col-md-4.col-xs-12
  %div{class: "panel panel-#{requisition.status_color}"}
    %div{class: "panel-heading"}
      %h4{class: "panel-title"}
        = link_to requisition.formated_folio, requisition
    %div{class: "panel-body"}
      %p
        - if requisition.complete? || requisition.partially?
          Procesada
        - else
          = distance_of_time_in_words(Time.now , requisition.requisition_date)
      %p
        = item_materials_status_message requisition.item_materials_status_count
      = link_to document_requisition_path(requisition), class: 'btn btn-danger pull-right' ,target: '_blank' do
        %i{class: 'fa fa-file-pdf-o'}
        PDF
      = link_to requisition, class: 'btn btn-default pull-right' do
        %i{class: 'fa fa-eye'}
        Ver
