.page-header
  %ol.breadcrumb
    %li= link_to @construction.title, current_user.administrator? ? construction_path(@construction) : constructions_path(mode: params[:mode])
    %li.active Requisiciones
  %h1
    %small
      Requisiciones
      .pull-right
        = link_to 'Nueva requisicion', new_requisition_path(construction_id: @construction.id), {class: "btn btn-primary", type: "button"}

%ul.nav.nav-tabs
  %li{id: 'all',class: " #{'active' if params[:type_list] == 'all'  or params[:type_list].nil? }"}
    = link_to 'Todos', requisitions_path(type_list: 'all', construction_id: params[:construction_id], mode: params[:mode]), remote: true
  %li{id: 'pending', class: " #{'active' if params[:type_list] == 'pending' }"}
    = link_to 'Pendientes', requisitions_path(type_list: 'pending', construction_id: params[:construction_id], mode: params[:mode]), remote: true
  %li{id: 'partially', class: " #{'active' if params[:type_list] == 'partially'}"}
    = link_to 'Parcialmente', requisitions_path(type_list: 'partially', construction_id: params[:construction_id], mode: params[:mode]), remote: true
  %li{id: 'complete', class: " #{'active' if params[:type_list] == 'complete'}"}
    = link_to 'Completas', requisitions_path(type_list: 'complete', construction_id: params[:construction_id],  mode: params[:mode]), remote: true


.list-group#requisitions
  = render partial: 'requisition', collection: @requisitions
  = paginate @requisitions,theme: 'twitter-bootstrap-3',remote: true
  - if @requisitions.empty?
    .well
      No hay requisiciones
- if current_user.subordinate?
  %h1
    %small
      Caja chica
      .pull-right
        %button{onclick: "ReactDOM.render(React.createElement(PaymentModal,{construction_id: #{@construction ? @construction.id : @office.id}}),document.getElementById('mod'));",class: 'btn btn-primary'}
          Nuevo gasto
  -#make partial for petty_cash
  -#=render partial: 'home/payment',collection: @payments
  #mod

