$('#requisitions').html("#{j( render partial: 'requisition', collection: @requisitions )}");
- if @requisitions.count == 0
  $('#requisitions').append("<div class='well'> No hay requisiciones</div>")



$('#complete').attr('class', "#{'active' if @type_list ==  'complete'}");
$('#pending').attr('class', "#{'active' if @type_list ==  'pending'}");
$('#partially').attr('class', "#{'active' if @type_list ==  'partially'}");
$('#all').attr('class', "#{'active' if @type_list ==  'all_with_conctruction'}");