$('#requisitions').html("#{j( render partial: 'requisition', collection: @requisitions )}");
- if @requisitions.count == 0
  $('#requisitions').append("<div class='well'> No hay requisiciones</div>")

-#$('#paginate').html("#{j( paginate @requisitions)}");

-#$('#search_role').val("#{@type_list}");
- if @type_list ==  'locked'
  $('#locked').attr('class', "active");
  $('#unlocked').attr('class', '');
  $('#all').attr('class', '');
- elsif @type_list == 'unlocked'
  $('#unlocked').attr('class', "active");
  $('#locked').attr('class', '');
  $('#all').attr('class', '');
-else
  $('#unlocked').attr('class', "");
  $('#locked').attr('class', '');
  $('#all').attr('class', 'active');
window.history.pushState(null, null, "requisitions?construction_id=#{j params[:construction_id]}&type_list=#{j @type_list}");
