$('#requisitions').html("#{j( render partial: 'requisition', collection: @requisitions )}");
- if @requisitions.count == 0
  $('#requisitions').append("<div class='well'> No hay requisiciones</div>")

-#$('#paginate').html("#{j( paginate @requisitions)}");

-#$('#search_role').val("#{@type_list}");
- if @type_list ==  'locked'
  $('#locked').attr('class', "active");
  $('#pending').attr('class', '');
  $('#partially').attr('class', '');
  $('#all').attr('class', '');
- elsif @type_list == 'pending'
  $('#locked').attr('class', "");
  $('#pending').attr('class', 'active');
  $('#partially').attr('class', '');
  $('#all').attr('class', '');
- elsif @type_list == 'partially'
  $('#locked').attr('class', "");
  $('#pending').attr('class', '');
  $('#partially').attr('class', 'active');
  $('#all').attr('class', '');
-else
  $('#locked').attr('class', "");
  $('#pending').attr('class', '');
  $('#partially').attr('class', '');
  $('#all').attr('class', 'active');

window.location.replace("requisitions?construction_id=#{j params[:construction_id]}&type_list=#{j @type_list}")
