.page-header
  %ol.breadcrumb
    %li= link_to @construction.title, current_user.administrator? ? construction_path(@construction) : constructions_path(mode: params[:mode])
    %li= link_to "Requisiciones", requisitions_path(construction_id: @construction.id)
    %li.active Requisición
  %h1
    %small
      Requisición
      %span{class: "label label-#{@requisition.status_color}"}
        = @requisition.formated_folio
      = link_to image_tag('pdf-icon.png',class: 'pdf-icon'),document_requisition_path(@requisition)

= react_component 'RequisitionArrival', itemMaterials: @item_materials_json, administrator: current_user.administrator?

.page-header
  - if current_user.administrator?
    %h1
      %small
        Ordenes de compra

.list-group#purchase_orders
  = render partial: 'purchase_orders/purchase_order', collection: @purchase_orders
  -#maybe an  application partial also with requisition we use the same
  - if @purchase_orders.empty?
    .well
      No hay ordenes de compra

= link_to 'Nueva Orden', new_purchase_order_path(requisition_id: @requisition.id), {class: "btn btn-primary", type: "button"}