.page-header
  %h1
    = link_to @construction.title, construction_path(@construction)
    %small
      Requisicion 
      %span{class: "label label-#{@requisition.status_color}"}
        = [@requisition.requisition_date.year, @requisition.folio.to_s.rjust(4, '0')].join(' - ')
= react_component 'RequisitionArrival',itemMaterials: @item_materials_json
.panel.panel-default
  %table.table
    %thead
      %tr
        %th
          Material
        %th
          Pedido
        %th
          Orden de compra
        %th
          Estado
    %tbody
      = render partial: 'item_material', collection: @item_materials

%h1
  %small
    Ordenes de compra

.list-group#purchase_orders
  = render partial: 'purchase_order', collection: @purchase_orders
  -#maybe an  application partial also with requisition we use the same
  - if @purchase_orders.count == 0
    .well
      No hay ordenes de compra

= link_to 'Nueva Orden de Compra', new_purchase_order_path(requisition_id: @requisition.id), {class: "btn btn-primary", type: "button"}