.page-header
  %h1
    = link_to @construction.title, construction_path(@construction)
    %small
      Requisicion 
      %span.label.label-info
        = [@requisition.requisition_date.year, @requisition.folio.to_s.rjust(4, '0')].join(' - ')

.panel.panel-default
  %table.table
    %thead
      %tr
        %th
          Material
        %th
          Pedido
        %th
          Orden de compra
        %th
          Estado
    %tbody
      = render partial: 'item_material', collection: @item_materials

%h1
  %small
    Ordenes de compra

.list-group#requisitions
  = render partial: 'purchase_order', collection: @purchase_orders

= link_to 'Nueva Orden de Compra', new_purchase_order_path(requisition_id: @requisition.id), {class: "btn btn-primary", type: "button"}