.row
  .col-xs-12
    = render partial: 'show_header', locals: {construction: @construction}
.row
  .col-md-4.col-xs-12
    %div{class: "panel panel-default"}
      %div{class: "panel-heading"}
        %h4{class: "panel-title"}
          Contrato
          = number_to_currency(@construction.total_budget)
      %div{class: "panel-body"}
        %p
          Monto original:
          = number_to_currency(@construction.contract_amount)
  .col-md-4.col-xs-12
    %div{class: "panel panel-default"}
      %div{class: "panel-heading"}
        %h4{class: "panel-title"}
          Ampliaciones:
          = number_to_currency(@construction.extensions_amount)
      %div{class: "panel-body"}
        %p
          Actualmente:
          = @construction.extensions.size
          = link_to "(ver todas)", extensions_path(construction_id: @construction)
        %p
        = link_to 'Agregar', new_extension_path(construction_id: @construction), class: 'pull-right'
  .col-md-4.col-xs-12
    %div{class: "panel panel-default"}
      %div{class: "panel-heading"}
        %h4{class: "panel-title"}
          Estimaciones
          = number_to_currency(@construction.estimates_amount)
          = link_to '(Ver todas)' ,estimates_path(construction_id: @construction.id)
      %div{class: "panel-body"}
        %ul
          - if @construction.estimates.completed.empty?
            %li ND
          - @construction.estimates.completed.each do |estimate|
            %li=estimate.concept + " " +  estimate.amount.to_s
        %p
          = link_to "Agregar", new_estimate_path(construction_id: @construction), class: 'pull-right'
.rpw
  .col-md-4.col-xs-12
    %div{class: "panel panel-default"}
      %div{class: "panel-heading"}
        %h4{class: "panel-title"}
          Caja chica
      %div{class: "panel-body"}
        %p
          = link_to '(ver todas)', petty_cashes_path(construction_id: @construction)
  = render partial: 'requisitions_and_purchase_boxes'


.row
  .col-md-4.col-xs-12
    %div{class: "panel panel-default"}
      %div{class: "panel-heading"}
        %h4{class: "panel-title"}
          Gastos
      %div{class: "panel-body"}
        %p
          Total:
          = number_to_currency(@construction.expenses)
        %p
          Pagado:
          = number_to_currency(@construction.paid)
        %p
          Saldo:
          = number_to_currency(@construction.expenses - @construction.paid)
        %p
          %a{onclick: "window.createPayment(#{@construction ? @construction.id : @office.id})", class: 'pull-right', style: 'cursor: pointer;'}
            Agregar

= render partial: 'payments_part'
#billing
