%h1= "Contra recibo #" + @invoice_receipt.folio.to_s

= form_for @invoice_receipt, url: {action: "update"} do |form|
  = form.label "Proveedor"
  = select_tag "invoice_receipt[provider_id]", options_from_collection_for_select(@providers, "id", "name", @invoice_receipt.provider.nil? ? nil : @invoice_receipt.provider.id), include_blank: true
  %br
  = form.submit "Actualizar Proveedor"

%h3 Facturas asociadas
= form_for @invoice, url: invoices_path do |form|
  = form.hidden_field :invoice_receipt_id, value: @invoice_receipt.id
  %table
    %tr
      %th Folio
      %th Cantidad
      %th Fecha
      %th
    - @invoices.each do |invoice|
      %tr
        %td= link_to invoice.folio, invoice_path(invoice)
        %td= invoice.amount
        %td= invoice.reg_date
    %tr
      %td
        = form.text_field :folio
      %td
        = form.text_field :amount
      %td
        = form.text_field :reg_date
      %td
        = form.submit "Agregar"