
console.log('aca');
$('#payments').html("#{j (render partial: 'payments/payment',collection: @payments)}");
$('#paginate').html("#{j (render partial: 'payments/pagination')}");
- if @payments.empty?
  $('#payments').html("<tr class='well'><td class='well'> No hay pagos</td></tr>")


$('#due').attr('class', "#{'active' if @type_list ==  Payment::DUE_STATUS}");
$('#paid').attr('class', '#{'active' if @type_list ==  'paid.no_petty_cash'}');
$('#partially').attr('class', "#{'active' if @type_list ==  Payment::PARTIALLY_DUE_STATUS}");
$('#all_construction').attr('class', "#{'active' if @type_list ==  'all_construction'}");
$('#petty_cash').attr('class', "#{'active' if @type_list ==  Payment::PETTY_CASH_STATUS}");
