$('#payments').html("#{j (render partial: 'home/payment',collection: @payments)}");

$('#due').attr('class', "#{'active' if @type_list ==  Payment::DUE_STATUS}");
$('#paid').attr('class', '#{'active' if @type_list ==  'paid.no_petty_cash'}');
$('#partially').attr('class', "#{'active' if @type_list ==  Payment::PARTIALLY_DUE_STATUS}");
$('#all_construction').attr('class', "#{'active' if @type_list ==  'all_construction'}");
$('#petty_cash').attr('class', "#{'active' if @type_list ==  Payment::PETTY_CASH_STATUS}");
