%tr
  %td= link_to construction.title, construction_path(construction)
  %td= construction.start_date
  %td= construction.finish_date
  %td= construction.contract_amount
  %td= link_to 'Editar', edit_construction_path(construction)
  %td= link_to 'Eliminar', construction, :method => :delete, :data => { :confirm => '¿Está seguro de que desea eliminar este registro?' }
