%a.list-group-item.construction-special-row{:href => "#{construction_path(construction)}"}
  %h4
    %span.label.label-primary.pull-right= number_to_currency(construction.contract_amount)
    %span.pull-right -
    %span.label.pull-right{class: "#{amount_tag_class(construction)}"}
      = number_to_currency(construction.estimates_amount)

  %h3.list-group-item-heading
    = construction.title
    %small
      = construction.resident.name if !construction.resident.nil?
  .progress
    - if construction.available_days > construction.days_passed
      .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{}", :role => "progressbar", :style => "width: #{percentage_of_number(construction.days_passed, construction.available_days)}%;"}
        = [construction.days_passed, construction.available_days].join("/") + " Dias"
    - else
      .progress-bar.progress-bar-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{}", :role => "progressbar", :style => "width: 100%;"}
        = [construction.days_passed, construction.available_days].join("/") + " Dias"

