=  simple_form_for(@construction, html: { class: 'form-horizontal' }) do |f|
  -#local variable if the @construction is in editing form
  - if edit
    %h3 Estado de obra
    = f.input :status,collection: Construction::STATUS_OPTIONS
    %hr
  %h3 Informacion General
  = f.input :title, label: 'Nombre'
  = f.input :address,label: 'Direccion'
  .row
    .col-md-6
      -#= f.input :start_date, label: 'Fecha de inicio',:as => :date_picker
      = f.input :start_date, label: 'Fecha de inicio'
    .col-md-6
      -#check if datepicker is proper for this form
      -#= f.input :finish_date, label: 'Fecha de finalización',:as => :date_picker
      = f.input :finish_date, label: 'Fecha de finalización',:as => :date_picker
  = f.input :contract_amount, label: 'Cantidad contratada'
  = f.association :manager, collection: User.subordinates
  %hr
  %h3 Ayudantes de obra
  #construction_users
    %label.control-label
      *Residents
    = f.simple_fields_for :construction_users do |construction_user|
      = render 'construction_user_fields', f: construction_user
    .links
      = link_to_add_association 'Agregar ayudante', f, :construction_users,class: 'btn btn-default'

  %br

  = f.button :submit, value: 'Crear', class: 'btn btn-primary'
  = link_to 'Cancelar', constructions_path, class: 'btn btn-default'
