
=  simple_form_for(@construction, html: { class: 'form-horizontal' }) do |f|
  - if edit
    = f.input :status,collection: Construction::STATUS_OPTIONS
  = f.input :title, label: 'Nombre'
  = f.input :address,label: 'Direccion'
  .row
    .col-md-6
      = f.input :start_date, label: 'Fecha de inicio'
    .col-md-6
      = f.input :finish_date, label: 'Fecha de finalización'
  = f.input :contract_amount, label: 'Cantidad contratada'
  -#= f.association :resident, collection: User.resident
  = f.input :manager,collection: User.all
  #construction_users
    %label.control-label
      *Residents
    = f.simple_fields_for :construction_users do |construction_user|
      = render 'construction_user_fields', f: construction_user
    .links
      = link_to_add_association 'add task', f, :construction_users,class: 'btn btn-default'
  %br

  = f.button :submit, value: 'Crear', class: 'btn btn-primary'
