=  simple_form_for(@construction, html: { class: 'form-horizontal' }) do |f|
  = f.input :title, label: 'Nombre'
  = f.input :address,label: 'Direccion'
  = f.input :start_date, label: 'Fecha de inicio'
  = f.input :finish_date, label: 'Fecha de finalización'
  = f.input :contract_amount, label: 'Cantidad contratada'
  = f.association :resident, collection: User.resident
  = f.button :submit, value: 'Crear', class: 'btn btn-primary'
