
=  simple_form_for(@construction, html: { class: 'form-horizontal' }) do |f|
  - if edit
    %h3 Estado de obra
    = f.input :status,collection: Construction::STATUS_OPTIONS
    %hr
  %h3 Informacion General
  = f.input :title, label: 'Nombre'
  = f.input :address,label: 'Direccion'
  .row
    .col-md-6
      = f.input :start_date, label: 'Fecha de inicio'
    .col-md-6
      = f.input :finish_date, label: 'Fecha de finalización'
  = f.input :contract_amount, label: 'Cantidad contratada'
  = f.association :manager, collection: User.subordinates
  %hr
  %h3 Ayudantes de obra
  #construction_users
    %label.control-label
      *Residents
    = f.simple_fields_for :construction_users do |construction_user|
      = render 'construction_user_fields', f: construction_user
    .links
<<<<<<< HEAD
      = link_to_add_association 'Agregar ayudante', f, :construction_users,class: 'btn btn-default'
=======
      = link_to_add_association 'add task', f, :construction_users, class: 'btn btn-default'
>>>>>>> c518f4e0017d7544e57da25727c123dd4873ecef
  %br

  = f.button :submit, value: 'Crear', class: 'btn btn-primary'
