.col-md-4.col-xs-12
  %div{class: "panel panel-default"}
    %div{class: "panel-heading"}
      %h4{class: "panel-title"}
        Requisiciones
    %div{class: "panel-body"}
      %p
        Procesadas:
        = @construction.requisitions.partially.size + @construction.requisitions.complete.size
        = link_to "(ver todas)", requisitions_path(construction_id: @construction)
      %p
        Pendientes:
        = @construction.requisitions.pending.count
.col-md-4.col-xs-12
  %div{class: "panel panel-default"}
    %div{class: "panel-heading"}
      %h4{class: "panel-title"}
        Ordenes de compra
    %div{class: "panel-body"}
      %p
        Facturadas:
        = @construction.invoiced_purchases_orders.size
        = link_to "(ver todas)", purchase_orders_path(construction_id: @construction)
      %p
        Sin facturar:
        = @construction.uninvoiced_purchases_orders.size