.page-header
  .row
    .col-xs-12
      %h5
        = construction.title
        - if construction.manager
          administrada por
          = link_to construction.manager.name, user_path(construction.manager)
  .row
    .col-xs-12
      .progress.cons-st-prog
        / all of this should be in a helper
        - if construction.available_days > construction.days_passed
          .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{}", role: "progressbar", style: "width: #{percentage_of_number(construction.days_passed, construction.available_days)}%;", class: "#{days_bar_tag_class(construction)}"}
      //= [construction.days_passed, construction.available_days].join("/") + " Dias"
      %h6.text-center.construction-special-date
        %span.text-muted
          = "Desde el "
        %span.text-info
          = spanish_formated_date(construction.start_date, false) # I18n soon
        %span.text-muted
          = " hasta el "
        %span.text-info
          = spanish_formated_date(construction.finish_date, false)
  %hr
