%table
  %tr
    %th Titulo
    %th Monto contratado
    %th Monto saldado
    %th Fecha de inicio
    %th Fecha de finalizacion
  - @constructions.each do |construction|
    %tr
      %td
        = link_to construction.title, construction_path(construction)
      %td
        = construction.contract_amount
      %td
        = construction.current_amount
      %td
        = construction.start_date
      %td
        = construction.finish_date
%h3 Nueva obra
= button_to "Crear", new_construction_path, method: :get