
$('#running').attr('class', "#{ 'active' if params[:status] == 'running'}");
$('#finished').attr('class', "#{'active' if params[:status] == 'finished'}");
$('#all').attr('class', "#{'active' if params[:status] == 'all'}");
-if current_user.subordinate?
  $('#own').attr('class', "#{'active' if params[:mode] == 'own'}");
  $('#help').attr('class', "#{'active' unless params[:mode] == 'own'}");
- if @mode == :own
  $('#constructions').html("#{j( render partial: 'construction_own', collection: @constructions)}");
- if @mode == :sub
  $('#constructions').html("#{j( render partial: 'construction_sub', collection: @constructions)}");
- if @mode == :all
  $('#constructions').html("#{j( render partial: 'construction', collection: @constructions)}");


$('#paginate').html("#{j( paginate @constructions,theme: 'twitter-bootstrap-3', remote: true)}");
