%p#notice= notice

= simple_form_for :search, url: constructions_path, method: :get do |f|
  .col-lg-6
    = f.search_field :query, autofocus: true, class: "form-control", placeholder: "Search"
  %span.input-group-btn
    = f.submit "Go", class: "btn btn-default"

%h1 Obras

.list-group#constructions
  = render partial: 'construction', collection: @constructions

=paginate @constructions
%br
= link_to 'Nueva obra', new_construction_path, class: 'btn btn-primary'
