%h1 Obras


= simple_form_for :search,url: constructions_path,method: :get do |f|
  = f.search_field :search,autofocus: true
  = f.button :submit

%table.table
  %thead
    %tr
      %th Nombre
      %th Fecha de inicio
      %th Fecha de finalizacion
      %th Montro contratado
      %th
      %th
  %tbody#users
    = render partial: 'construction', collection: @constructions
=paginate @constructions
%br

= link_to 'Nueva obra', new_construction_path
