%p#notice= notice

= simple_form_for :search, url: constructions_path, method: :get,remote: true do |f|
  .col-lg-6
    = f.hidden_field :mode, value: @mode
    = f.search_field :query, autofocus: true, class: "form-control", placeholder: 'Buscar',onkeyup: "$('#submit').click();",autocomplete: 'off'
  %span.input-group-btn
    = f.submit "Buscar", class: "btn btn-default",id: 'submit'

%h1 Obras

%ul.nav.nav-tabs
  %li{class: "#{'active' if params[:status] == 'running'}",id: 'running'}
    = link_to 'En curso',constructions_path(status: :running),remote: true
  %li{class: "#{'active' if params[:status] == 'finished'}",id: 'finished'}
    = link_to 'Terminadas',constructions_path(status: :finished),remote: true
  %li{class: "#{'active' if params[:status] == 'all' or params[:status].nil?}",id: 'all'}
    = link_to 'Todas',constructions_path(status: :all),remote: true

.list-group#constructions
  - if @mode == :own
    = render partial: 'construction_own', collection: @constructions
  - if @mode == :sub
    = render partial: 'construction_sub', collection: @constructions
  - if @mode == :all
    = render partial: 'construction', collection: @constructions
#paginate
  = paginate @constructions, theme: 'twitter-bootstrap-3', remote: true
%br
-if current_user.administrator?
  = link_to 'Nueva obra', new_construction_path, class: 'btn btn-primary'
  = link_to 'Nueva Oficina', new_office_path, class: 'btn btn-primary'
