%h1 Obras

.row
  .col-lg-6.pull-right
    .input-group
      = simple_form_for :search, url: constructions_path, method: :get do |f|
        = f.search_field :search, autofocus: true, class: "form-control", placeholder: "Search"
        %span.input-group-btn
          = f.submit "Go", class: "btn btn-default"

.list-group
  = render partial: 'construction', collection: @constructions

%table.table
  %thead
    %tr
      %th Nombre
      %th Encargado
      %th Fecha de inicio
      %th Fecha de finalizacion
      %th Montro contratado
      %th
      %th
  %tbody#users
    = render partial: 'construction', collection: @constructions

=paginate @constructions
%br
= link_to 'Nueva obra', new_construction_path, class: 'btn btn-primary'
