.page-header
  .page-header
    .row
      .col-md-6
        // Construction Name and resident
        %h1
          = @construction.title
          %small= link_to @construction.resident.name, user_path(@construction.resident)
        //////////
      .col-md-6
        // Dates and progress bar in days
        %h3.text-center
          %small= "Desde " +  spanish_formated_date(@construction.start_date, false)
        .progress
          - if @construction.available_days > @construction.days_passed
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{}", role: "progressbar", style: "width: #{percentage_of_number(@construction.days_passed, @construction.available_days)}%;", class: "#{days_bar_tag_class(@construction)}"}
              = [@construction.days_passed, @construction.available_days].join("/") + " Dias"
        %h3.text-center.construction-special-date
          %small= "Termina " +  spanish_formated_date(@construction.finish_date, false)
        ///////////
  .row.construction_estimates_row
    //// Estimates numbers with buttons
    .col-md-4
      %h3.text-center
        %span{class: "#{amount_color_class(@construction)}"}
          = number_to_currency(@construction.estimates_amount)
        %span= "-"
        %span.text-primary= number_to_currency(@construction.contract_amount)
        %br
        .btn-group.fix-estimates-buttons{"aria-label" => "...", :role => "group"}
          = link_to "Nueva Estimacion", new_estimate_path(construction_id: @construction), {class: "btn btn-primary", type: "button"}
          = link_to "Ver todas", estimates_path(construction_id: @construction), {class: "button btn btn-default", type: "button"}
    //// Requisitions
    .col-md-4
      %h3.text-center
        = @construction.requisitions.count
        %br
        .btn-group.fix-estimates-buttons{"aria-label" => "...", :role => "group"}
          = link_to 'Nueva Requisición', new_requisition_path(construction_id: @construction.id), {class: "btn btn-primary", type: "button"}
          = link_to "Ver todas", requisitions_path(construction_id: @construction), {class: "button btn btn-default", type: "button"}
    //// Purchase orders
    .col-md-4
      %h3.text-center
        = @construction.purchase_orders.count
        %br
        .btn-group.fix-estimates-buttons{"aria-label" => "...", :role => "group"}
          = link_to "Ver todas", purchase_orders_path(construction_id: @construction), {class: "button btn btn-default", type: "button"}

%h1
  %small
    Gastos

.panel.panel-default
  %table.table
    %thead
      %tr
        %th
          Factura
        %th
          Ordende compra
        %th
          Importe
        %th
          Pagado
        %th
          Saldo
        %th
          Pagos
        %th
    %tbody
      - @acumulated_amount = 0
      - @acumulated_paid
      = render partial: 'payment', collection: @payments
