.page-header
  .page-header
    .row
      .col-md-6
        // Construction Name and resident
        .row
          %h1
            = @construction.title
            %small= link_to @construction.manager.name, user_path(@construction.manager)
        .col-md-8.text-center
          = link_to 'Administrar',edit_construction_path(@construction),class: 'btn btn-primary'
        //////////
      .col-md-6
        // Dates and progress bar in days
        %h3.text-center
          %small= "Desde " +  spanish_formated_date(@construction.start_date, false)
        .progress
          - if @construction.available_days > @construction.days_passed
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{}", role: "progressbar", style: "width: #{percentage_of_number(@construction.days_passed, @construction.available_days)}%;", class: "#{days_bar_tag_class(@construction)}"}
              = [@construction.days_passed, @construction.available_days].join("/") + " Dias"
        %h3.text-center.construction-special-date
          %small= "Termina " +  spanish_formated_date(@construction.finish_date, false)
        ///////////
  .row.construction_estimates_row
    //// Estimates numbers with buttons
    .col-md-4
      %h3.text-center
        %span{class: "#{amount_color_class(@construction)}"}
          = number_to_currency(@construction.estimates_amount)
        %span= "-"
        %span.text-primary= number_to_currency(@construction.contract_amount)
        %br
        .btn-group.fix-estimates-buttons{"aria-label" => "...", :role => "group"}
          = link_to "Nueva Estimacion", new_estimate_path(construction_id: @construction), {class: "btn btn-primary", type: "button"}
          = link_to "Ver todas", estimates_path(construction_id: @construction), {class: "button btn btn-default", type: "button"}
    //// Requisitions
    .col-md-4
      %h3.text-center
        = "#{@construction.requisitions.count } #{Requisition.plural @construction.requisitions.count }"
        %br
        .btn-group.fix-estimates-buttons{"aria-label" => "...", :role => "group"}
          = link_to 'Nueva Requisición', new_requisition_path(construction_id: @construction.id), {class: "btn btn-primary", type: "button"}
          = link_to "Ver todas", requisitions_path(construction_id: @construction), {class: "button btn btn-default", type: "button"}
    //// Purchase orders
    .col-md-4
      %h3.text-center
        = "#{@construction.purchase_orders.count} #{PurchaseOrder.plural @construction.purchase_orders.count}"
        %br
        .btn-group.fix-estimates-buttons{"aria-label" => "...", :role => "group"}
          = link_to "Ver todas", purchase_orders_path(construction_id: @construction), {class: "button btn btn-default", type: "button"}

%h1
  %small
    Gastos
-#    just an idea nedd more ideas or suggestions - Llamas
.row
  -#don't know if this two variables is the better way - llamas
  -# Ofcurse it is - David
  - expenses = @construction.expenses
  - paid = @construction.paid
  .col-md-3
    .panel.panel-warning
      .panel-heading
        Se a gastado
      .panel-body
        = number_to_currency expenses
  .col-md-3
    .panel.panel-success
      .panel-heading
        Se a pagodo
      .panel-body
        = number_to_currency paid
  .col-md-3
    .panel.panel-danger
      .panel-heading
        Se debe
      .panel-body
        = number_to_currency expenses - paid
  .col-md-3
    .panel.panel-info
      .panel-heading
        Se a cobrado
      .panel-body
        = number_to_currency @construction.estimates_amount
%ul.nav.nav-tabs
  %li{id: 'all',class: " #{'active' if params[:type_list] == 'all'  or params[:type_list].nil? }"}
    = link_to 'Todos',payments_path(type_list: 'all', construction_id: params[:id]),remote: true
  %li{id: Payment::DUE_STATUS,class: " #{'active' if params[:type_list] == Payment::DUE_STATUS}"}
    = link_to 'Pendientes',payments_path(type_list: Payment::DUE_STATUS, construction_id: params[:id]),remote: true
  %li{id: Payment::PARTIALLY_DUE_STATUS,class: " #{'active' if params[:type_list] == Payment::PARTIALLY_DUE_STATUS}"}
    = link_to 'Parcialmente',payments_path(type_list: Payment::PARTIALLY_DUE_STATUS, construction_id: params[:id]),remote: true
  %li{id: Payment::PAID_STATUS,class: " #{'active' if params[:type_list] == Payment::PAID_STATUS}"}
    = link_to 'Procesadas',payments_path(type_list: Payment::PAID_STATUS, construction_id: params[:id]),remote: true

.panel.panel-default
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th
            Factura
          %th
            Orden de compra
          %th
            Importe
          %th
            Pagado
          %th
            Saldo
          %th
            Pagos
          %th
      %tbody#payments

        = render partial: 'payment', collection: @payments
