%h1= @construction.title
%h3= "Monto contratado: $" + @construction.contract_amount.to_s
%h3= "Monto saldado: $" + @construction.current_amount.to_s

%h2 Gastos
%table
  %tr
    %th Orden de compra
    %th Proveedor
    %th Concepto
    %th Contra recivo
    %th Fecha de facturacion
    %th Importe
    %th Importe acumulado
    %th Nº de cheque
    %th Fecha
    %th Estado
    %th Importe pagado
    %th Acumulado pagado
    %th Saldo
    %th Saldo acumulado
  - accumulated_amount = 0
  - accumulated_paid = 0
  - accumulated_balance = 0
  - last_balance = 0
  - @expenses.each do |expense|
    %tr
      %td= link_to expense.purchase_order.folio, purchase_order_path(expense.purchase_order)
      %td= expense.provider.name
      %td
      %td
      %td= expense.invoice.created_at
      %td= expense.invoice.amount.to_f
      %td= accumulated_amount += expense.invoice.amount.to_f
      %th
      %th= expense.invoice.created_at
      %th= expense.status
      %th= expense.amount_paid.to_f
      %th= accumulated_paid += expense.amount_paid.to_f
      %th= last_balance = expense.invoice.amount.to_f - expense.amount_paid.to_f
      %th= accumulated_balance += last_balance

%h2 Requisiciones
= link_to "Ver todas", requisitions_path(construction_id: @construction.id)
= button_to "Crear", requisitions_path(construction_id: @construction)