= simple_form_for(@measure_unit) do |f|
  = f.error_notification

  .form-inputs
    = f.input :unit
    = f.input :abbreviation

  .form-actions
    = f.button :submit,value: 'Crear', class: 'btn btn-primary'
    = link_to 'Back', measure_units_path,class: 'btn btn-default'