%h1 Lista de unidades
.table-responsive
  %table.table.table-condensed
    %thead
      %tr
        %th Unidad
        %th Abreviatura
        %th

    %tbody
      - @measure_units.each do |measure_unit|
        %tr
          %td= measure_unit.unit
          %td= measure_unit.abbreviation
          %td
            .btn-group
              = link_to 'Editar', edit_measure_unit_path(measure_unit),class: 'btn btn-warning'
              = link_to 'Borrar', measure_unit, :method => :delete, :data => { :confirm => '¿Está seguro?' },class: 'btn btn-danger'
%br
.col-lg-3.pull-right
  = link_to 'Nueva unidad', new_measure_unit_path, class: 'btn btn-primary'
