=  simple_form_for(@material, html: { class: 'form-horizontal' }) do |f|
  = f.input :name, label: 'Nombre'
  = f.input :description, label: 'Descripción'
  = f.association :measure_units,   as: :check_boxes,label_method: :unit
  = f.submit 'Crear', class: 'btn btn-primary'
