%h1 Materiales
= simple_form_for :search, url: materials_path, method: :get do |f|
  .col-lg-6
    = f.search_field :query, autofocus: true, class: "form-control"
  = f.submit 'Buscar', class: 'btn btn-default'


%table.table.table-striped.table-condensed.table-hover
  %thead
    %tr
      %th Nombre
      %th Descripción
      %th
  %tbody#materials
    = render @materials
#paginate
  = paginate @materials,theme: 'twitter-bootstrap-3',remote: true
%br

= link_to 'Nuevo material', new_material_path, class: 'btn btn-primary'
