%h1 Materials


= simple_form_for :search,url: materials_path,method: :get do |f|
  = f.search_field :search,autofocus: true
  = f.button :submit


%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
  %tbody#materials
    = render partial: 'material', collection: @materials
= paginate @materials
%br

= link_to 'New Material', new_material_path
