%h1 Materiales
= simple_form_for :search, url: materials_path, method: :get do |f|
  = f.search_field :query, autofocus: true
  = f.submit 'Buscar', class: 'btn btn-info'

%table.table
  %thead
    %tr
      %th Nombre
      %th Descripción
      %th
      %th
  %tbody#materials
    = render @materials
= paginate @materials
%br

= link_to 'Nuevo material', new_material_path, class: 'btn btn-primary'
