%h2 Nueva material
= form_for @material, url: {action: "create"} do |form|
  = form.label "Nombre:"
  = form.text_field :name
  = form.label "Descripcion:"
  = form.text_field :description
  = form.label "Unidad de medida:"
  = form.text_field :measure_unit
  %br
  = form.submit "Crear"