.jumbotron
  %h1= @material.name
  %h3= @material.description
  %h3 Unidades permitidas:
  %ul
    - @material.measure_units.each do |mesure_unit|
      %li="#{mesure_unit.unit} | #{mesure_unit.abbreviation}"

  = link_to 'Editar', edit_material_path(@material), class: 'btn btn-warning'
  = link_to 'Regresar', materials_path, class: 'btn btn-default'
