%h2 Editar gasto

= form_for @expense, url: {action: "update"} do |form|
  = form.label "Concepto:"
  = form.text_field :concept
  = form.label "Monto pagado:"
  = form.text_field :amount_paid
  = form.label "No de cheque:"
  = form.text_field :check_number
  = form.submit "Actualizar"