%h1 Pagos varios

%table
  %tr
    %th Obras
    %th Ordenes de compra
    %th Proveedor
    %th Concepto
    %th Contra recivo
    %th Fecha de facturacion
    %th Factura
    %th Importe
    %th Importe acumulado
    %th Estado
    %th Importe pagado
    %th Acumulado pagado
    %th Saldo
    %th Saldo acumulado
    %th Pagos
    %th Realizar pago
  - accumulated_amount = 0
  - accumulated_paid = 0
  - accumulated_balance = 0
  - last_balance = 0
  - @expenses.each do |expense|
    %tr
      %td
        - expense.constructions.each do |construction|
          = link_to construction.title, construction_path(construction)
      %td
        - expense.purchase_orders.each do |purchase_order|
          = link_to purchase_order.folio, purchase_order_path(purchase_order)
      %td= expense.provider.name
      %td= expense.invoice.concept
      %td= link_to expense.invoice_receipt.folio, invoice_receipt_path(expense.invoice_receipt)
      %td= expense.invoice.reg_date
      %td= link_to expense.invoice.folio, invoice_path(expense.invoice)
      %td= expense.invoice.amount.to_f
      %td= accumulated_amount += expense.invoice.amount.to_f
      %th= expense.status
      %th= expense.amount_paid.to_f
      %th= accumulated_paid += expense.amount_paid.to_f
      %th= last_balance = expense.invoice.amount.to_f - expense.amount_paid.to_f
      %th= accumulated_balance += last_balance
      %td

= button_to "Crear contra recibo", invoice_receipts_path