.navbar.navbar-default.navbar-static-top
  .container
    %button.navbar-toggle.collapsed{ "aria-expanded" => "false", type: "button", data: { target: "#main-navbar", toggle: "collapse" } }
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'Allpino', root_path, class: 'navbar-brand'
    #main-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Inicio', root_path
        = render partial: "common/menubars/#{current_user.roles.first.to_s}"
      %ul{class: 'nav navbar-nav navbar-right'}
        %li.dropdown
          %a.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', href: '#', role: 'button'}
            %span{class: 'fa fa-bell-o'}
            %span{class: 'label label-default'}
              = current_user.notifications.unseen.count
            %span.caret
          %ul.dropdown-menu
            %li
              =link_to '#', class: 'col-sm-1 col-sm-offset-9',data: { 'toggle' => 'tooltip' ,'placement' => 'bottom' }, 'title' => 'Marcar como leidas' do
                %i{class: 'fa fa-eye'}
            %li
              %a
                ='No hay notificaciones nuevas' if current_user.notifications.empty?
            - current_user.notifications.limit(10).each do |notification|
              %li= link_to render_activity(notification.activity),seen_notification_path(notification),method: :post,class: "#{'seen' if notification.seen? }"
        %li
          = link_to current_user, data: { 'toggle' => 'tooltip' ,'placement' => 'bottom' }, 'title' => t('profile') do
            %span{class: 'fa fa-user'}
        %li
          = link_to destroy_user_session_path, method: :delete, data: { 'toggle' => 'tooltip' ,'placement' => 'bottom' },'title' => t('sign_out') do
            %span{class: 'fa fa-sign-out'}
