.navbar.navbar-default.navbar-static-top
  .container
    %button.navbar-toggle.collapsed{ type: :button, data: { target: '#main-navbar', toggle: 'collapse' }, aria: { expanded: false } }
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'Allpino', root_path, class: 'navbar-brand'
    #main-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Inicio', root_path
        = render partial: "common/menubars/#{current_user.roles.first.to_s}"
      %ul{class: 'nav navbar-nav navbar-right'}
        %li.dropdown
          = link_to '#', id: 'notification-container', class: 'dropdown-toggle', data: { toggle: 'dropdown' }, role: 'button', aria: { expanded: false, haspopup: true } do
            %span{class: 'fa fa-bell-o fa-fw'}
            %span{class: 'label label-default', id: 'notifications-count'}
              = current_user.notifications.unseen.count
            %span.caret
          %ul.dropdown-menu#notifications
            %i{class:  "fa fa-circle-o-notch  text-primary fa-spin"}
        %li
          = link_to current_user, data: { toggle: 'tooltip', placement: 'bottom' }, title: t('profile') do
            %span{class: 'fa fa-user'}
        %li
          = link_to destroy_user_session_path, method: :delete, data: { toggle: 'tooltip', placement: 'bottom' },title: t('sign_out') do
            %span{class: 'fa fa-sign-out'}
