.navbar.navbar-default.navbar-static-top
  .container
    %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#main-navbar", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'Allpino', root_path, class: 'navbar-brand'
    #main-navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Inicio', root_path
        = render partial: "common/menubars/administrator" if current_user.administrator?
      %p.navbar-text.navbar-right
        = link_to current_user.name, current_user
        |
        = link_to destroy_user_session_path, method: :delete, data: { 'toggle' => 'tooltip' ,'placement' => 'bottom' },'title' => t('sign_out') do
          %span{class: 'fa fa-sign-out'}
